body,
.root {
    margin: 0;
    padding: 0;
}

.layout {
    display: flex;
    justify-content: space-between;
    /* max-width: 1200px; */
    height: calc(100vh - 10px);
    align-items: stretch;
    border: 1px solid #fdd;
    margin: 0;
    padding: 0;
}

.column {
    padding: 10px;
    border: 1px solid #ddd;
}

.vertical-buttons > button {
    align-self: stretch;
    margin: 10px;
}

.column.general form {
    min-height: 450px;
}

.column.general form,
.vertical-buttons {
    display: flex;
    flex-direction: column;
}

.column.general form > * {
    margin-bottom: 35px;
}

.story {
    display: flex;
    align-items: center;
}

.story > :first-child {
    width: calc(100% - 50px);
}

.column.subtasks {
    overflow-y: auto;
}

.no-one {
    text-align: center;
}

.column.general {
    width: 200px;
    min-width: 200px;
}
.column.result {
    width: 250px;
    min-width: 250px;
}

dt {
  color: gray;
}
