body {
    font-family: 'Roboto', sans-serif;
}
body,
.root {
    margin: 0;
    padding: 0;
}

.progress-container {
    height: 5px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.layout {
    display: flex;
    align-items: stretch;
    margin: 0;
    padding: 0;
}

.layout > .column {
    flex-shrink: 0;
    padding: 10px;
}

.vertical-buttons  button {
    align-self: stretch;
    margin: 10px;
}

.column.general form {
    /* min-height: 450px; */
}

.column.general form,
.vertical-buttons {
    display: flex;
    flex-direction: column;
}

.column.general form > * {
    margin-bottom: 25px;
}

.column.general form > *:last-child {
    margin-bottom: 0;
}

.story {
    display: flex;
    align-items: center;
}

.story > :first-child {
    width: calc(100% - 50px);
}

.column.subtasks {
    flex: 1;
    overflow-y: auto;
}

.no-one {
    text-align: center;
}

.column.general {
    width: 220px;
    min-width: 220px;
}
.column.result {
    width: 220px;
    min-width: 220px;
}

.gray {
  color: gray;
}

.red {
    color: red;
}

dl.flexed {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

dl.flexed > * {
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 10px;
}

dl.flexed > dt {
    color: gray;
    text-align: right;
    width: 45%;
}

dl.flexed > dd {
    width: 45%;
    padding-left: 10px;
}

dl.flexed > dd.important {
    font-size: 1.5em;
    line-height: 21px;
}

h3 {
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(0, 84, 153);
    text-align: center;
    border-bottom: 2px solid rgb(154, 218, 253);
    margin-bottom: 10px;
    /* margin-top: 25px; */
}

p {
    margin: 0;
}

.cell {
    padding: 10px !important;
    vertical-align: top;
}

.cell.category {
    width: 80px;
}

.cell.summary-and-description {

}

.cell.original-estimate {
    width: 120px;
}

.cell.jira-item {
    width: 60px;
}

.cell.row-status {
    width: 60px;
}

.cell.actions {
    width: 20px;
}

.summary > input,
.description textarea {
    width: calc(100vw - 1000px);
}

.pie-chart-container > * {
    display: flex;
    flex-direction: column;
}

.result .error {
    text-align: center;
}

.action-buttons {
    width: 220px;
    position: fixed;
    bottom: 0;
}

button.link {
    border: 0;
    background: none;
    font-size: 1em;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
}

tr.invalid {
    background: repeating-linear-gradient(
        -45deg,
        #ffffff,
        #ffffff 10px,
        #FFEBEE 10px,
        #FFEBEE 20px
    );
}

tr.dirty {
    background: repeating-linear-gradient(
        -45deg,
        #ffffff,
        #ffffff 10px,
        #E8F5E9 10px,
        #E8F5E9 20px
    );
}

tr.verynew {
    background: repeating-linear-gradient(
        -45deg,
        #ffffff,
        #ffffff 10px,
        #F5F5F5 10px,
        #F5F5F5 20px
    );
}

.label-filter {
    display: flex;
}
.label-filter > *:first-child {
    flex: 1;
}
.text-centered {
    text-align: center;
}
